/* App.css */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rosybrown;
 /*
  background-image: url('music3.jpg'); 
  background-size: cover;
  background-position: center;
  */
  
}

.app-container {
  width: 95%;
  max-width: 1000px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center; /* Center content horizontally */
  box-sizing: border-box; 
  background-color: white;
}

.content-container {
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.controls {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Center content horizontally */
}

.controls button {
  margin: 0 10px; /* Add space between buttons */
}

.audio-player-name {
  font-size: 24px;
  margin-bottom: 20px;
}



